greek_words.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Tad Macy (private) -->
<!--DTD generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT card (side+)>
<!ELEMENT cards (card+)>
<!ELEMENT side (#PCDATA)>
<!ATTLIST side
  x:str CDATA #IMPLIED
>
